# Las matemáticas tras la regresión logística

**Las tablas de contingencia**

In [10]:
import pandas as pd
from IPython.display import display, Math, Latex

In [3]:
df= pd.read_csv("../../Datasets/gender-purchase/Gender Purchase.csv")
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [4]:
df.shape

(511, 2)

### La tabla de contingencia

In [5]:
contingency_table= pd.crosstab(df["Gender"], df["Purchase"])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [6]:
contingency_table.sum(axis= 1)

Gender
Female    265
Male      246
dtype: int64

In [7]:
contingency_table.sum(axis= 0)

Purchase
No     231
Yes    280
dtype: int64

In [9]:
contingency_table.astype("float").div(contingency_table.sum(axis= 1), axis= 0)    #Las probabilidades

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## La probabilidad condicional

* ¿Cuál es la probabilidad de que un cliente compre un producto sabiendo que es un hombre? -> Solo se sabe que es un hombre.
$$
P(Purchase|Male) = \frac{Número\ total\ de\ compras\ hechas\ por\ hombres}{Número\ total\ de\ hombres\ del\ grupo}= \frac{Purchase\cap Male}{Male}
$$

* ¿Cuál es la probabilidad de que, sabiendo que un compra un producto sea una mujer? -> Solo se sabe que compra el producto.
$$
P(Female|Purchase) = \frac{Número\ total\ de\ compras\ hechas\ por\ mujeres}{Número\ total\ de\ compras} = \frac{Female\cap Purchase}{Purchase}
$$

In [16]:
display(Math(r'P(Purchase|Male) = \frac{Número\ total\ de\ compras\ hechas\ por\ hombres}{Número\ total\ de\ hombres\ del\ grupo} = \frac{Purchase\cap Male}{Male}'))
121/246

0.491869918699187

In [17]:
display(Math(r'P(No\ Purchase|Male) = 1-P(Purchase|Male)'))
125/246

0.508130081300813

In [18]:
display(Math(r'P(Female|Purchase) = \frac{Número\ total\ de\ compras\ hechas\ por\ mujeres}{Número\ total\ de\ compras} = \frac{Female\cap Purchase}{Purchase}'))
159/280

0.5678571428571428

In [19]:
display(Math(r'P(Male|Purchase)'))
121/280

0.43214285714285716

Para este caso lo que más nos interesa es saber cuales son las probabilidades de que un cliente compre o no compre, sabiendo que es hombre o sabiendo que es mujer.

In [20]:
display(Math(r'P(Purchase|Male)'))
print("121/246 = "+ str(121/246))
display(Math(r'P(No\ Purchase|Male)'))
print("125/246 = "+ str(125/246))
display(Math(r'P(Purchase|Female)'))
print("159/265 = "+ str(159/265))
display(Math(r'P(No\ Purchase|Female)'))
print("106/265 = "+ str(106/265))

121/246 = 0.491869918699187

125/246 = 0.508130081300813

159/265 = 0.6

106/265 = 0.4